.whatsapp-float {
  position: fixed;
  bottom: 20px;
  left: 20px; /* <-- Cambiado de 'right' a 'left' */
  z-index: 999;
  cursor: pointer;
  transition: transform 0.3s;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
